
{% extends 'todo/base.html' %}
{% block content %}

<h1>Главная</h1>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <h1>Рады вас приветствовать на нашем проекте - Todos. Woo!</h1>
            <p>Жизнь прекрасна. Жизнь полна событий и радостей и специально для вас мы создали этот продукт! Идя по пути вы сталкиваетесь с задачами и<u>и</u> вы решаете их. Мы создали <b><i>Todo Woo</i></b> для того, что бы вам было удобно контролировать выполнения важных задач. Именно эту проблебу помогает решить наш сервис.</p>
        
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Старт</a>
        </div>
    </div>
{% endblock %}
